<div class="d-flex justify-content-between">
  <div>
    <%= image_tag 'user.png', class: "img-thumbnail rounded-circle border border-2 border-primay", style: "width: 2.5rem" %>
  </div>

  <%= link_to root_path, style: "text-decoration:none" do %>
    <small class="fw-bold text-primary">Follow</small>
  <% end %>
</div>